{#{% extends "layout/layout.twig" %}#}

{% block content %}
    <div id="content" class="container">
        Current time: {{now}}
    </div>
    <!-- make sure the attribute enctype is set to multipart/form-data -->
    <form action="upload" method="post" enctype="multipart/form-data">
        <!-- upload of a single file -->
        <p>
            <label>Add file (single): </label><br/>
            <input type="file" name="file"/>
        </p>

        <!-- multiple input fields for the same input name, use brackets -->
{#        <p>#}
{#            <label>Add files (up to 2): </label><br/>#}
{#            <input type="file" name="example2[]"/><br/>#}
{#            <input type="file" name="example2[]"/>#}
{#        </p>#}

{#        <!-- one file input field that allows multiple files to be uploaded, use brackets -->#}
{#        <p>#}
{#            <label>Add files (multiple): </label><br/>#}
{#            <input type="file" name="example3[]" multiple="multiple"/>#}
{#        </p>#}

        <p>
            <input type="submit"/>
        </p>
    </form>

{% endblock %}