{#{% extends "layout/layout.twig" %}#}

{% block content %}
    <h2>{{ title }}</h2>
    <div id="content" class="container">
        Current time: {{now}}
    </div>
    <!-- make sure the attribute enctype is set to multipart/form-data -->
    <form action="upload" method="post" enctype="multipart/form-data">
        <!-- upload of a single file -->
        <p>
            <label>Add file (single): </label><br/>
            <input type="file" name="file"/>
        </p>
        <p>
            <input type="submit"/>
        </p>
    </form>

{% endblock %}